.main-catalog {
    @media only screen and (max-width: 1024px) {
        margin-top: calc(-25px) !important;
    }
    @media only screen and (max-width: 600px) {
        margin-top: calc(-55px) !important;
    } 
}

.catalog {
    @include flex(flex-start, flex-start);

    @media only screen and (max-width: 1024px) {
        flex-direction: column;
    }

    &__filter {
        width: 15%;

        @media only screen and (max-width: 1024px) {
            width: max-content;
            height: 100vh;
            background-color: $main-bg;
            padding: 1rem;
            position: fixed;
            left: 0;
            top: $header-tablet-height;
            z-index: 100;
            box-shadow: $box-shadow;
            transform: translateX(-100%);
            transition: transform 0.3s ease;
        }

        @media only screen and (max-width: 600px) {
            top: $header-mobile-height;
        }

        &.active {
            transform: translateX(0);
            z-index: 88;
        }

        &__widget {
            margin-bottom: 2rem;

            &__title {
                font-size: 1.25rem;
                font-weight: 600;
                text-transform: capitalize;
                margin-bottom: 16px;
            }

            &__content {
                color: $txt-second-color;
                
                &__item {
                    margin-bottom: 13px;
                    max-width: 120px;
                }
            }
        }

        &__close {
            display: none;
            @media only screen and (max-width: 1024px) {
                display: block;
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }
    }

    &__content {
        width: 85%;

        @media only screen and (max-width: 1024px) {    
            width: 100%;
        }
    }

    &__filter__toggle {
        display: none;

        // @include tablet {
        //     display: block !important;
        //     margin-bottom: 2rem !important;
        // }

        @media only screen and (max-width: 1023px) {
            display: block !important;
            margin-bottom: 2rem !important;
        }
    }
}
