.header {
  &__menu {
    &__form {
      transform: translate(0%, 6%);
      transition: all 0.5s;
      width: 50px;
      height: 50px;
      padding-left: 26px;
      padding-top: 5px;

      @media only screen and (max-width: 600px) {
        width: 42px;
        height: 32px;
      }
      &__input {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 42.5px;
        line-height: 30px;
        outline: 0;
        border: 0;
        font-family: "Lato", sans-serif;
        font-size: 1.4rem;
        border-radius: 20px;
        padding: 0 10px 0 40px;
      }
    }

    &__form:hover {
      width: 420px;
      cursor: pointer;

      @media only screen and (max-width: 1024px) {
        width: 699px;
      }

      @media only screen and (max-width: 600px) {
        width: 356px;
      }
    }

    &__form:hover input {
      display: block;

      @media only screen and (min-width: 413px) and (max-width: 599px) {
        min-width: 420px !important;
      }

      @media only screen and (max-width: 600px) {
        top: -5px;
        left: -47px;
        min-width: 375px;
        height: 38.5px;
        border-radius: 0;
      }
    }

    &__form:hover &__right__item_icon_search {
      position: absolute;
      top: 8px;
      left: 8px;

      @media only screen and (max-width: 600px) {
        top: 6px;
        left: -34px;
      }
    }
  }
}

// .active-form {
//   width: 400px;
// }
