.footer {
    padding: 70px 0;
    box-shadow: $box-shadow;
    font-size: 1.1rem;
    background-color: #343A40;
    color: #fff;
    &__logo {
        height: 36px;
    }
    &__container {
        margin-left: 56px;
    }

    &__about {
        p {
            margin-bottom: 1rem;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-weight: 600;
        color: $main-color;
    }

    &__content {
        p {
            margin-bottom: 1.25rem;
        }
    }
    &__dangky {
        width: 119px;
        height: 47px
    }
    &__information {
        margin-top: 30px;
    }

    &__contact{
        display: flex;
        margin-bottom: 10px;
        align-items: center;
    }
    &__icon-item {
        align-items: center;
        width: 40px;
        height: 40px;
    }
    &__text-item {
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    &__contact-icon{
        background-color: #dc4e41;
        border-radius: 60px;
        width: 34px; 
        height: 34px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    &__contact-facebook {
        background-color: #3b5998;
        border-radius: 60px;
        width: 34px; 
        height: 34px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    //CSS APP giao hàng
    &__app {
        margin-top: 50px;
    }
    &__app-list {
        display: flex;
    }
    &__app-background1 {
        height: 36px;
        width:130px;
        background-color: #fff;
        border-radius: 10px;
        margin-right: 5px;
    }
    &__app-background2 {
        height: 34px;
        background-color: #fff;
        border-radius: 10px;
        width: 48px;
        margin-right: 5px;
    }
    &__app-background3 {
        height: 34px;
        background-color: #fff;
        border-radius: 10px;
        width: 81px;
        margin-right: 5px;
    }

    &__giaohang1 {
        align-items: center;
        height: 36px;
        width:130px;
    }
    &__giaohang2{
        width: 110px; 
        height: 37px
    }
    &__giaohang3 {
        width: 81px;
        height: 34px;
    }
    &__giaohang4 {
        height: 39px;
        width: 39px;
        padding: 8px 4px 8px 4px;
        // align-items: center;
        // justify-content: center;
    }
    &__giaohang5{
        height: 39px;
        width: 39px;
        padding: 8px 4px 8px 4px;
    }
    &__giaohang6 {
        align-items: center;
        height: 34px;
        width: 82px;
        border-radius: 10px;
    }
    &__app-store {
        display: flex;
        
    }
    &__app-store-item {
        margin-right: 57px;
    }
}
