.product-incart {
  background-color: #fff;
  display: flex;
  border-bottom: 1px solid #c5c5c5;
  justify-content: space-between;
  @media only screen and (min-width: 1024px) {
    // max-width: 620px;
    min-width: 620px;
  }
  @media only screen and (max-width: 1023px) and (min-width: 601px) {
    max-width: 725px;
    min-width: 725px;
  }

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    max-width: 100%;
  }
  &__left, &__right{
    display: flex;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    .product-incart__delele__moblie {
      display: none;
    }
    @include mobile {
      .product-incart__delele__moblie {
        font-size: 2rem;
        display: block;
      }
    }
  }


  &__right {
    @include mobile {
      display: flex;
      justify-content: space-between;
      margin: 0 12px 6px 12px;

      .product-incart__delele {
        display: none;
      }

      
    }
    
  }
  &__image,
  img {
    max-width: 90px;
    min-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }

  &__title {
    margin: auto 0px;
    min-width: 560px;
    max-width: 300px;
    @include tablet {
      max-width: 200px;
      min-width: 200px;
    }
    &__name {
      font-weight: "400";
      margin-bottom: 10px;
    }

    &__name:hover {
      color: $main-color;
    }

    &__description {
      color: $txt-second-color;
    }
  }

  &__price {
    display: flex;
    margin: auto 0px;
    font-size: 16px !important;
    color: #00b46e;
    font-weight: 500 !important;
    margin-right: 4px !important;
    min-width: 76px;

    
  }

  &__quantity {
    display: flex;
    margin: auto 0px;
    // padding: 0 20px 0 10px;
    &__btn {
      @include flex(center, center);
      width: 30px;
      height: 30px;

      cursor: pointer;
      .bx {
        font-size: 2rem;
      }
      .bx-minus-circle {
        color: #c4cddd;
      }
      .bxs-plus-circle {
        color: #f9b514;
      }
    }

    &__input {
      @include flex(center, center);
      height: 30px;
      font-size: 1.5rem;
      color: #f9b514;
      font-weight: 500 !important;
      margin: 0 6px;
      min-width: 56px;
      line-height: 1.8rem;
      border: 2px solid #c4cddd;
      border-radius: 2px;
    }
  }

  &__delele {
    margin: auto 0px;
    @include flex(center, center);
    font-size: 1.8rem;
    color: #bcb8b8; 
    padding: 12px;
  }
  &__delele:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px;
    border-radius: 50%;
  }
}

.product-incart:hover {
  background-color: #f9f9f9;
}
